body{
	background-color: #f7f7f9;
}
#header-container{
	background-color: rgb(0,157,230);
}
/*.columna{
	border: 1px solid red;
}*/
#header-container img{
	margin: 0 auto;
}				
.form-control{
	margin: 1em 0;
}
.input-group{
	margin: 0 auto;
}
.columna-info{
	margin: 2em 0;
	padding: 2em 0;
	background-color: white;
	border-radius: .5em;
}
.columna-info h3{
	margin: 1em 0;
}
.btn-grupo{
	margin: 1.5em 0 0 0;
}
#footer-container{
	background-color: rgb(0,157,230);
}
.seccion-footer{
	margin: 1em 0 .5em 0;
}
.fila-predeterminada{
	background-color: white;
	border-radius: .5em;
	margin: 1em 0;
	padding: 0 0 .8em 0;
}
.fila-vehiculo{
	background-color: white;
	border-radius: .5em;
	margin: 1em 0;
	padding: 0 0 .8em 0;
}
.fila-contribuyente{
	background-color: white;
	border-radius: .5em;
	margin: 1em 0;
	padding: 0 0 .8em 0;	
}
.fila-liquidacion{
	background-color: white;
	border-radius: .5em;
	margin: 1em 0;
	padding: 0 0 .8em 0;
}
.header-fila{
	margin-bottom: 1em;
}
/*form{
	border: 1px solid red;
}*/
/*.entradas{
	margin-left: 2em;
}*/