body{
	background-color: #f7f7f9;
}
#header-container{
	background-color: rgb(0,157,230);
}
/*.columna{
	border: 1px solid red;
}*/
#header-container img{
	margin: 0 auto;
}				
.form-control{
	margin: 1em 0;
}
.input-group{
	margin: 0 auto;
}
.columna-info{
	margin: 2em 0;
	padding: 2em 0;
	background-color: white;
	border-radius: .5em;
}
.columna-info h3{
	margin: 1em 0;
}
.btn-grupo{
	margin: 1.5em 0 0 0;
}
#footer-container{
	background-color: rgb(0,157,230);
	margin-top: 1em;
}
.seccion-footer{
	margin: 1em 0 .5em 0;
}
.fila-predeterminada{
	background-color: white;
	border-radius: .5em;
	margin: 1em 0;
	padding: 0 0 .8em 0;
}
.container-vehiculo{
	background-color: white;
	border-radius: .5em;
	/*margin: 1em 0;
	padding: 0 0 .8em 0;*/
}
.container-contribuyente{
	background-color: white;
	border-radius: .5em;
	margin-top: 1em;
	/*margin: 1em 0;*/
	/*padding: 0 0 .8em 0;*/	
}
.container-liquidacion{
	background-color: white;
	border-radius: .5em;
	margin-top: 1em;
/*	margin: 1em 0;
	padding: 0 0 .8em 0;*/
}
.header-fila{
	margin-bottom: 1em;
}
.fila-form{
	margin: 0;
}
.titulo-form{
	margin: 1em 0;
}